@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font_main: "Roboto";

$white:#FFFFFF;
$red600 :#E60000;
$red500:#FF0000;
$red400:#FF0101;
$red300:#FD5181;
$grey100:#FBFBFB;
$grey500:#74798C;
$blue:#4AB8FF;
$orange:#FDCC0C;
$black:#020203;